<div class="node-header-wrapper d-flex justify-content-between py-4 px-5">
    <div class="workFlowName-container col-sm-4">
        <input class="form-control rounded border border-1 border-dark" type="text" value="{{ workFlowName }}"
            #searchBox>
    </div>
    <div class="button-box-bar buttons-container col-sm-6 col-md-5 col-xl-3 col-xxl-2 d-flex justify-content-between">
        <button type="button" class="button-box btn btn-dark" #shuffleBtn aria-label="Close" >Shuffle</button>
        <button type="button" class="button-box btn btn-danger" #deleteBtn aria-label="Close">Delete</button>
        <button type="button" class="button-box btn btn-success" #addBtn aria-label="Close">Add Node</button>
        <button type="button" class="button-box btn btn-primary" #saveBtn aria-label="Close">Save</button>
    </div>
</div>
<hr>