<div class="loginbox border">
    <form (ngSubmit)="submit()" #myForm="ngForm" class="login-content">

        <h1 class="title">Login</h1>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" >Email address</label>
          <input 
          type="email" class="form-control" 
          placeholder="Email Address" [(ngModel)]="form.email" name="email" #email="ngModel" required/>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="warning p-2 bg-red text-red rounded">
            Enter valid Email!
          </div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label">Password</label>
           <input 
           type="password"  class="form-control" 
           placeholder="Password" [(ngModel)]="form.password" name="password" #password="ngModel" required/>
           <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="warning p-2 bg-red-300 text-red-800 rounded">
            Enter valid Password !
          </div>
        </div>
      
        <!-- Checkbox -->
        <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label"> Remember me </label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" [disabled]="myForm.form.invalid" class="btn btn-primary btn-block mb-4">
          <ng-container *ngIf="isLoading()">
            Loading...
          </ng-container>
          <ng-container *ngIf="!isLoading()">
            Login
          </ng-container>
        </button>
      
        <!-- Register Link -->
        <div class="text-center">
          <p>Don't have account? <a href="register">Sign Up here</a></p>
        </div>
    </form>
</div>