<div class="registerbox border">
    <form (ngSubmit)="submit()" #myForm="ngForm" class="register-content">
        <h1 class="title">Sign Up</h1>
        
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" >Email address</label>
            <input 
                type="email" class="form-control" 
                placeholder="Email Address" [(ngModel)]="form.email" 
                name="email" #email="ngModel" required/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="warning p-2 bg-red text-red rounded">
                Enter valid Email!
            </div>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" >Password</label>
            <input 
                type="password"  class="form-control" 
                placeholder="Password" [(ngModel)]="form.password" 
                name="password" #password="ngModel" required/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="warning p-2 bg-red-300 text-red-800 rounded">
                Enter valid Password !
            </div>
        </div>
      
        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" >Confirm Password</label>
            <input type="text" class="form-control" 
            placeholder="Confirm Password" [(ngModel)]="form.confirm_password" 
            name="confirm_password" #confirm_password="ngModel" required/>
            <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
                class="warning p-2 bg-red-300 text-red-800 rounded">
                Enter valid Confirm Password !
            </div>
        </div>
      
        <!-- Submit button -->
        <button type="submit" [disabled]="myForm.form.invalid" class="btn btn-primary btn-block mb-4">
            <ng-container *ngIf="isLoading()">
             Loading...
            </ng-container>
            <ng-container *ngIf="!isLoading()">
             Sign Up
            </ng-container>
        </button>
      
    </form>
</div>
